.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background);
  color: var(--headline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 4rem;
}

.header {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}

.mainInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extraOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding: 0 2rem;
}


.searchBar {
  width: 15rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: inherit;
  margin-right: 1rem;
  background: rgba(143, 138, 138, 0.2)
}

.searchBar:focus, .submitBtn:focus {
  outline-color: var(--accent);
}

.submitBtn {
  background-color: var(--accent);
  color: var(--headline);
  border: none;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}

.error {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--accent);
  margin-top: 2rem;
}

.loading {
  font-size: 20rem;
  font-weight: 500;
  color: var(--accent);
  margin-top: 2rem;
}

.submitBtn, .sortBtn, .resetBtn, .pcBtn, .browserBtn {
  margin: 0 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
}

.sortBtn, .resetBtn, .pcBtn, .browserBtn {
  background-color: var(--background);
  color: white;
  border: 2px solid white;
  margin-bottom: 1rem;
}

.sortBtn:hover, .resetBtn:hover, .pcBtn:hover, .browserBtn:hover {
  background-color: white;
  color: black;
}