/* CSS Variables */
:root {
  --background: #0f0e17;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --accent: #e53170;
  --card-tag-background: #ff8906;
  --card-background: #fffffe;
  --card-paragraph: #2e2f3e;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
